<h1>Mails</h1>
<table>
    <tbody>
        {{#each mails}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this.subject}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<a href="/">Go back</a>